body {
  height: 100vh;
}

/* Main-content */

.cs-main {
  height: calc(100vh - 56px);
  display: flex;
}

.main-content {
  flex-grow: 1;
  overflow: auto;
}

.mc-header {
  background-color: #1b72e8;
  color: white;
}

.offcanvas.offcanvas-end {
  width: 550px;
}

.badge {
  cursor: pointer;
}

.cs-nav {
  background-color: #11283e;
  background-image: url(./img/sidebar-bg.png);
  color: white;
}

.cs-nav a {
  color: white !important;
}
